[Desktop Entry]
Version=0.7.5
Name=export
Comment= Open export directory
Exec=bash -c 'nautilus /home/$USER/.config/AGKApps/3D2Sprite/export/'
Icon=folder
Terminal=true
Type=Application
Categories=Application;
